<ion-modal-view class="ft-enable-notification-modal">
    <div class="ft-onboarding-slide">
        <div class="ft-onboarding-content">
            <div class="ft-onboarding-content-upper">
                <img src="app/img/icon-push-notification.png" class="ft-icon-push-notification">
            </div>

            Stay up to date on the<br>
            products, places, and things<br>
            changing based on the Mobs<br>
            you&rsquo;ve joined.

            <div class="ft-onboarding-content-lower">
                <a href class="ft-onboarding-complete-button ft-stacked" ng-click="confirm()">
                    Enable notifications
                </a>

                <a href class="ft-onboarding-complete-button ft-stacked ft-negative" ng-click="cancel()">
                    Maybe later
                </a>
            </div>
        </div>
    </div>

    <div class="ft-onboarding-logo">
        Powered by <img src="app/img/forrester-logo-white.png" class="ft-logo-image">
    </div>
</ion-modal-view>
