.ft-auth-success-title {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.ft-auth-success-text {
    text-align: center;
}
